
.grid-container {
    display: grid;
    column-gap: 20px;
    grid-auto-flow: column;
  }
  
  .grid-item {
    background-color: aquamarine;;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;;
    font-size: 14px;
    text-align: center;
    max-width: 230px;
    max-height: 230px;
  }

.grid-item:hover{
    background-color: rgb(231, 106, 106);
}